In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

import warnings
warnings.filterwarnings("ignore")

# Read Datasets

In [2]:
apptr = pd.read_csv(r"C:\Users\rifky\Downloads\Rakamin Project-Based Virtual Internship\Home Credit Indonesia (Data Science)\Dataset\home-credit-scorecard-UPGRADE\application_train.csv")
print('Train data shape:  ', apptr.shape)

Train data shape:   (307511, 122)

In [96]:
appts = pd.read_csv(r"C:\Users\rifky\Downloads\Rakamin - Home Credit Indonesia\Dataset\home-credit-default-risk\application_test.csv")
print('Test data shape:  ', appts.shape)

Test data shape:   (48744, 121)

# Data Preprocessing

## Handle Missing Values above 50%

In [120]:
missing_percent = apptr.isna().mean() * 100

missing_over_50 = missing_percent[missing_percent > 50].index

apptr_after_drop = apptr.drop(columns=missing_over_50)
appts = appts.drop(columns=missing_over_50, errors='ignore')

print('Dropped Columns: \n', missing_percent[missing_percent > 50].index)
print('Train data shape before drop: ', apptr.shape)
print('Train data shape after drop: ', apptr_after_drop.shape)

Dropped Columns:
 Index(['OWN_CAR_AGE', 'EXT_SOURCE_1', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG',
       'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG',
       'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG',
       'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG',
       'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BUILD_MODE',
       'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMIN_MODE',
       'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI',
       'BASEMENTAREA_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI',
       'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
       'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
       'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE',
       'WALLSMATERIAL_MODE'],
      dtype='object')
Train data shape before drop:  (307511, 123)
Train data shape after drop:  (307511, 82)

### Categorical Missing Values

In [121]:
# simpan dataframe hasil drop kolom ke dataframe asli
apptr = apptr_after_drop

apptr_obj = apptr.select_dtypes(object)

pd.set_option('display.max_colwidth', None)

unique_obj = apptr_obj.apply(pd.Series.unique, axis=0)
value_obj = apptr_obj.apply(pd.Series.nunique, axis=0)
pd.concat([unique_obj, value_obj], axis=1).rename(columns={0: 'Value', 1: 'Total Unique'})

,Value,Total Unique
NAME_CONTRACT_TYPE,"[Cash loans, Revolving loans]",2
CODE_GENDER,"[M, F, XNA]",3
FLAG_OWN_CAR,"[N, Y]",2
FLAG_OWN_REALTY,"[Y, N]",2
NAME_TYPE_SUITE,"[Unaccompanied, Family, Spouse, partner, Children, Other_A, nan, Other_B, Group of people]",7
NAME_INCOME_TYPE,"[Working, State servant, Commercial associate, Pensioner, Unemployed, Student, Businessman, Maternity leave]",8
NAME_EDUCATION_TYPE,"[Secondary / secondary special, Higher education, Incomplete higher, Lower secondary, Academic degree]",5
NAME_FAMILY_STATUS,"[Single / not married, Married, Civil marriage, Widow, Separated, Unknown]",6
NAME_HOUSING_TYPE,"[House / apartment, Rented apartment, With parents, Municipal apartment, Office apartment, Co-op apartment]",6
OCCUPATION_TYPE,"[Laborers, Core staff, Accountants, Managers, nan, Drivers, Sales staff, Cleaning staff, Cooking staff, Private service staff, Medicine staff, Security staff, High skill tech staff, Waiters/barmen staff, Low-skill Laborers, Realty agents, Secretaries, IT staff, HR staff]",18
WEEKDAY_APPR_PROCESS_START,"[WEDNESDAY, MONDAY, THURSDAY, SUNDAY, SATURDAY, FRIDAY, TUESDAY]",7
ORGANIZATION_TYPE,"[Business Entity Type 3, School, Government, Religion, Other, XNA, Electricity, Medicine, Business Entity Type 2, Self-employed, Transport: type 2, Construction, Housing, Kindergarten, Trade: type 7, Industry: type 11, Military, Services, Security Ministries, Transport: type 4, Industry: type 1, Emergency, Security, Trade: type 2, University, Transport: type 3, Police, Business Entity Type 1, Postal, Industry: type 4, Agriculture, Restaurant, Culture, Hotel, Industry: type 7, Trade: type 3, Industry: type 3, Bank, Industry: type 9, Insurance, Trade: type 6, Industry: type 2, Transport: type 1, Industry: type 12, Mobile, Trade: type 1, Industry: type 5, Industry: type 10, Legal Services, Advertising, Trade: type 5, Cleaning, Industry: type 13, Trade: type 4, Telecom, Industry: type 8, Realtor, Industry: type 6]",58
EMERGENCYSTATE_MODE,"[No, nan, Yes]",2

In [122]:
apptr_obj.isna().sum().sort_values(ascending=False)

EMERGENCYSTATE_MODE           145755
OCCUPATION_TYPE                96391
NAME_TYPE_SUITE                 1292
NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
NAME_INCOME_TYPE                   0
NAME_EDUCATION_TYPE                0
NAME_FAMILY_STATUS                 0
NAME_HOUSING_TYPE                  0
WEEKDAY_APPR_PROCESS_START         0
ORGANIZATION_TYPE                  0
dtype: int64

In [123]:
# mengubah XNA (Not Avalaible) menjadi Unknown
apptr_obj = apptr_obj.replace('XNA', 'Unknown')

(apptr_obj == 'Unknown').sum().sort_values(ascending=False)

ORGANIZATION_TYPE             55374
CODE_GENDER                       4
NAME_FAMILY_STATUS                2
NAME_CONTRACT_TYPE                0
FLAG_OWN_CAR                      0
FLAG_OWN_REALTY                   0
NAME_TYPE_SUITE                   0
NAME_INCOME_TYPE                  0
NAME_EDUCATION_TYPE               0
NAME_HOUSING_TYPE                 0
OCCUPATION_TYPE                   0
WEEKDAY_APPR_PROCESS_START        0
EMERGENCYSTATE_MODE               0
dtype: int64

In [124]:
# mengisi missing value dengan 'Unknown'
apptr_obj['OCCUPATION_TYPE'] = apptr['OCCUPATION_TYPE'].fillna('Unknown')
apptr_obj['EMERGENCYSTATE_MODE'] = apptr['EMERGENCYSTATE_MODE'].fillna('Unknown')

# membuang baris dengan 'CODE_GENDER' dan 'NAME_FAMILY_STATUS' yang bernilai 'Unknown' karena hanya sedikit
apptr_obj = apptr_obj[apptr_obj['CODE_GENDER'] != 'Unknown']
apptr_obj = apptr_obj[apptr_obj['NAME_FAMILY_STATUS'] != 'Unknown']

In [125]:
# Terapkan hal yang sama di test
appts_obj = appts.select_dtypes(object)
appts_obj = appts_obj.replace('XNA', 'Unknown')
appts_obj['OCCUPATION_TYPE'] = appts['OCCUPATION_TYPE'].fillna('Unknown')
appts_obj['EMERGENCYSTATE_MODE'] = appts['EMERGENCYSTATE_MODE'].fillna('Unknown')

### Untuk nilai null (NaN) di kolom 'EMERGENCYSTATE_MODE', 'OCCUPATION_TYPE', dan 'NAME_TYPE_SUITE' akan di-handle setelah train_test_split

In [126]:
# Sinkronkan baris dengan apptr_obj yang sudah dibersihkan
apptr = apptr.loc[apptr_obj.index]

# Lalu update kolom objeknya
apptr.update(apptr_obj)
appts.update(appts_obj)

In [127]:
appts_id = appts['SK_ID_CURR']

apptr.drop('SK_ID_CURR', axis=1, inplace=True)
appts.drop('SK_ID_CURR', axis=1, inplace=True)

print(apptr.shape)
print(appts.shape)

(307505, 81)
(48744, 80)

### Impute Numerical, Binary, and Categorical Missing Values

In [128]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

In [129]:
def fit_imputer(df):

    # Deteksi kolom numerik & binary
    binary_cols = [col for col in df.select_dtypes(include=['int64', 'float64']).columns
                   if set(df[col].dropna().unique()) <= {0, 1}]
    
    num_cols = [col for col in df.select_dtypes(include=['int64', 'float64']).columns
                    if col not in binary_cols]

    cat_cols = ['NAME_TYPE_SUITE']
    
    imputer_mode = SimpleImputer(strategy='most_frequent')
    imputer_med = SimpleImputer(strategy='median')
    
    imputer = ColumnTransformer(
        transformers=[
            ('bin', imputer_mode, binary_cols), 
            ('num', imputer_med, num_cols),
            ('cat', imputer_mode, cat_cols)
        ],
        remainder='passthrough'
    )

    imputer.fit(df)

    return imputer, binary_cols + num_cols + cat_cols

In [130]:
def transform_imputer(df, imputer, ordered_cols):
    df_array = imputer.transform(df)

    # Ambil nama semua kolom (yang ikut maupun tidak ikut transformasi)
    all_columns = ordered_cols + [col for col in df.columns if col not in ordered_cols]

    # Kembalikan dataframe hasil imputasi
    return pd.DataFrame(df_array, columns=all_columns, index=df.index)

In [131]:
original_dtypes = apptr.dtypes

X = apptr.drop('TARGET', axis=1)
y = apptr['TARGET']

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.2, random_state=50)

In [132]:
imputer, imputed_cols = fit_imputer(X_train)

X_train_filled = transform_imputer(X_train, imputer, imputed_cols)
X_test_filled  = transform_imputer(X_test, imputer, imputed_cols)
appts_filled  = transform_imputer(appts, imputer, imputed_cols)

In [133]:
X_train_filled.shape

(246004, 80)

In [134]:
def ori_dtype(df):
    for col in df.columns:
        if col in original_dtypes:
            try:
                df[col] = df[col].astype(original_dtypes[col])
            except Exception as e:
                print(f"Gagal casting kolom '{col}' ke {original_dtypes[col]}: {e}")
    return df

In [135]:
X_train_filled = ori_dtype(X_train_filled)
X_test_filled = ori_dtype(X_test_filled)
appts_filled = ori_dtype(appts_filled)

In [136]:
X_train_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 246004 entries, 233057 to 20259
Data columns (total 80 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   FLAG_MOBIL                    246004 non-null  int64
 1   FLAG_EMP_PHONE                246004 non-null  int64
 2   FLAG_WORK_PHONE               246004 non-null  int64
 3   FLAG_CONT_MOBILE              246004 non-null  int64
 4   FLAG_PHONE                    246004 non-null  int64
 5   FLAG_EMAIL                    246004 non-null  int64
 6   REG_REGION_NOT_LIVE_REGION    246004 non-null  int64
 7   REG_REGION_NOT_WORK_REGION    246004 non-null  int64
 8   LIVE_REGION_NOT_WORK_REGION   246004 non-null  int64
 9   REG_CITY_NOT_LIVE_CITY        246004 non-null  int64
 10  REG_CITY_NOT_WORK_CITY        246004 non-null  int64
 11  LIVE_CITY_NOT_WORK_CITY       246004 non-null  int64
 12  FLAG_DOCUMENT_2               246004 non-null  int64
 13  FLAG_DOCUMENT_3               246004 non-null  int64
 14  FLAG_DOCUMENT_4               246004 non-null  int64
 15  FLAG_DOCUMENT_5               246004 non-null  int64
 16  FLAG_DOCUMENT_6               246004 non-null  int64
 17  FLAG_DOCUMENT_7               246004 non-null  int64
 18  FLAG_DOCUMENT_8               246004 non-null  int64
 19  FLAG_DOCUMENT_9               246004 non-null  int64
 20  FLAG_DOCUMENT_10              246004 non-null  int64
 21  FLAG_DOCUMENT_11              246004 non-null  int64
 22  FLAG_DOCUMENT_12              246004 non-null  int64
 23  FLAG_DOCUMENT_13              246004 non-null  int64
 24  FLAG_DOCUMENT_14              246004 non-null  int64
 25  FLAG_DOCUMENT_15              246004 non-null  int64
 26  FLAG_DOCUMENT_16              246004 non-null  int64
 27  FLAG_DOCUMENT_17              246004 non-null  int64
 28  FLAG_DOCUMENT_18              246004 non-null  int64
 29  FLAG_DOCUMENT_19              246004 non-null  int64
 30  FLAG_DOCUMENT_20              246004 non-null  int64
 31  FLAG_DOCUMENT_21              246004 non-null  int64
 32  CNT_CHILDREN                  246004 non-null  int64
 33  AMT_INCOME_TOTAL              246004 non-null  float64
 34  AMT_CREDIT                    246004 non-null  float64
 35  AMT_ANNUITY                   246004 non-null  float64
 36  AMT_GOODS_PRICE               246004 non-null  float64
 37  REGION_POPULATION_RELATIVE    246004 non-null  float64
 38  DAYS_BIRTH                    246004 non-null  int64
 39  DAYS_EMPLOYED                 246004 non-null  float64
 40  DAYS_REGISTRATION             246004 non-null  float64
 41  DAYS_ID_PUBLISH               246004 non-null  int64
 42  CNT_FAM_MEMBERS               246004 non-null  float64
 43  REGION_RATING_CLIENT          246004 non-null  int64
 44  REGION_RATING_CLIENT_W_CITY   246004 non-null  int64
 45  HOUR_APPR_PROCESS_START       246004 non-null  int64
 46  EXT_SOURCE_2                  246004 non-null  float64
 47  EXT_SOURCE_3                  246004 non-null  float64
 48  YEARS_BEGINEXPLUATATION_AVG   246004 non-null  float64
 49  FLOORSMAX_AVG                 246004 non-null  float64
 50  YEARS_BEGINEXPLUATATION_MODE  246004 non-null  float64
 51  FLOORSMAX_MODE                246004 non-null  float64
 52  YEARS_BEGINEXPLUATATION_MEDI  246004 non-null  float64
 53  FLOORSMAX_MEDI                246004 non-null  float64
 54  TOTALAREA_MODE                246004 non-null  float64
 55  OBS_30_CNT_SOCIAL_CIRCLE      246004 non-null  float64
 56  DEF_30_CNT_SOCIAL_CIRCLE      246004 non-null  float64
 57  OBS_60_CNT_SOCIAL_CIRCLE      246004 non-null  float64
 58  DEF_60_CNT_SOCIAL_CIRCLE      246004 non-null  float64
 59  DAYS_LAST_PHONE_CHANGE        246004 non-null  float64
 60  AMT_REQ_CREDIT_BUREAU_HOUR    246004 non-null  float64
 61  AMT_REQ_CREDIT_BUREAU_DAY     246004 non-null  float64
 62  AMT_REQ_CREDIT_BUREAU_WEEK    246004 non-null  float64
 63  AMT_REQ_CREDIT_BUREAU_MON     246004 non-null  float64
 64  AMT_REQ_CREDIT_BUREAU_QRT     246004 non-null  float64
 65  AMT_REQ_CREDIT_BUREAU_YEAR    246004 non-null  float64
 66  NAME_TYPE_SUITE               246004 non-null  object
 67  NAME_CONTRACT_TYPE            246004 non-null  object
 68  CODE_GENDER                   246004 non-null  object
 69  FLAG_OWN_CAR                  246004 non-null  object
 70  FLAG_OWN_REALTY               246004 non-null  object
 71  NAME_INCOME_TYPE              246004 non-null  object
 72  NAME_EDUCATION_TYPE           246004 non-null  object
 73  NAME_FAMILY_STATUS            246004 non-null  object
 74  NAME_HOUSING_TYPE             246004 non-null  object
 75  OCCUPATION_TYPE               246004 non-null  object
 76  WEEKDAY_APPR_PROCESS_START    246004 non-null  object
 77  ORGANIZATION_TYPE             246004 non-null  object
 78  EMERGENCYSTATE_MODE           246004 non-null  object
 79  DAYS_EMPLOYED_ANOM            246004 non-null  bool
dtypes: bool(1), float64(28), int64(38), object(13)
memory usage: 150.4+ MB

In [137]:
X_test_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61501 entries, 138283 to 128640
Data columns (total 80 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   FLAG_MOBIL                    61501 non-null  int64
 1   FLAG_EMP_PHONE                61501 non-null  int64
 2   FLAG_WORK_PHONE               61501 non-null  int64
 3   FLAG_CONT_MOBILE              61501 non-null  int64
 4   FLAG_PHONE                    61501 non-null  int64
 5   FLAG_EMAIL                    61501 non-null  int64
 6   REG_REGION_NOT_LIVE_REGION    61501 non-null  int64
 7   REG_REGION_NOT_WORK_REGION    61501 non-null  int64
 8   LIVE_REGION_NOT_WORK_REGION   61501 non-null  int64
 9   REG_CITY_NOT_LIVE_CITY        61501 non-null  int64
 10  REG_CITY_NOT_WORK_CITY        61501 non-null  int64
 11  LIVE_CITY_NOT_WORK_CITY       61501 non-null  int64
 12  FLAG_DOCUMENT_2               61501 non-null  int64
 13  FLAG_DOCUMENT_3               61501 non-null  int64
 14  FLAG_DOCUMENT_4               61501 non-null  int64
 15  FLAG_DOCUMENT_5               61501 non-null  int64
 16  FLAG_DOCUMENT_6               61501 non-null  int64
 17  FLAG_DOCUMENT_7               61501 non-null  int64
 18  FLAG_DOCUMENT_8               61501 non-null  int64
 19  FLAG_DOCUMENT_9               61501 non-null  int64
 20  FLAG_DOCUMENT_10              61501 non-null  int64
 21  FLAG_DOCUMENT_11              61501 non-null  int64
 22  FLAG_DOCUMENT_12              61501 non-null  int64
 23  FLAG_DOCUMENT_13              61501 non-null  int64
 24  FLAG_DOCUMENT_14              61501 non-null  int64
 25  FLAG_DOCUMENT_15              61501 non-null  int64
 26  FLAG_DOCUMENT_16              61501 non-null  int64
 27  FLAG_DOCUMENT_17              61501 non-null  int64
 28  FLAG_DOCUMENT_18              61501 non-null  int64
 29  FLAG_DOCUMENT_19              61501 non-null  int64
 30  FLAG_DOCUMENT_20              61501 non-null  int64
 31  FLAG_DOCUMENT_21              61501 non-null  int64
 32  CNT_CHILDREN                  61501 non-null  int64
 33  AMT_INCOME_TOTAL              61501 non-null  float64
 34  AMT_CREDIT                    61501 non-null  float64
 35  AMT_ANNUITY                   61501 non-null  float64
 36  AMT_GOODS_PRICE               61501 non-null  float64
 37  REGION_POPULATION_RELATIVE    61501 non-null  float64
 38  DAYS_BIRTH                    61501 non-null  int64
 39  DAYS_EMPLOYED                 61501 non-null  float64
 40  DAYS_REGISTRATION             61501 non-null  float64
 41  DAYS_ID_PUBLISH               61501 non-null  int64
 42  CNT_FAM_MEMBERS               61501 non-null  float64
 43  REGION_RATING_CLIENT          61501 non-null  int64
 44  REGION_RATING_CLIENT_W_CITY   61501 non-null  int64
 45  HOUR_APPR_PROCESS_START       61501 non-null  int64
 46  EXT_SOURCE_2                  61501 non-null  float64
 47  EXT_SOURCE_3                  61501 non-null  float64
 48  YEARS_BEGINEXPLUATATION_AVG   61501 non-null  float64
 49  FLOORSMAX_AVG                 61501 non-null  float64
 50  YEARS_BEGINEXPLUATATION_MODE  61501 non-null  float64
 51  FLOORSMAX_MODE                61501 non-null  float64
 52  YEARS_BEGINEXPLUATATION_MEDI  61501 non-null  float64
 53  FLOORSMAX_MEDI                61501 non-null  float64
 54  TOTALAREA_MODE                61501 non-null  float64
 55  OBS_30_CNT_SOCIAL_CIRCLE      61501 non-null  float64
 56  DEF_30_CNT_SOCIAL_CIRCLE      61501 non-null  float64
 57  OBS_60_CNT_SOCIAL_CIRCLE      61501 non-null  float64
 58  DEF_60_CNT_SOCIAL_CIRCLE      61501 non-null  float64
 59  DAYS_LAST_PHONE_CHANGE        61501 non-null  float64
 60  AMT_REQ_CREDIT_BUREAU_HOUR    61501 non-null  float64
 61  AMT_REQ_CREDIT_BUREAU_DAY     61501 non-null  float64
 62  AMT_REQ_CREDIT_BUREAU_WEEK    61501 non-null  float64
 63  AMT_REQ_CREDIT_BUREAU_MON     61501 non-null  float64
 64  AMT_REQ_CREDIT_BUREAU_QRT     61501 non-null  float64
 65  AMT_REQ_CREDIT_BUREAU_YEAR    61501 non-null  float64
 66  NAME_TYPE_SUITE               61501 non-null  object
 67  NAME_CONTRACT_TYPE            61501 non-null  object
 68  CODE_GENDER                   61501 non-null  object
 69  FLAG_OWN_CAR                  61501 non-null  object
 70  FLAG_OWN_REALTY               61501 non-null  object
 71  NAME_INCOME_TYPE              61501 non-null  object
 72  NAME_EDUCATION_TYPE           61501 non-null  object
 73  NAME_FAMILY_STATUS            61501 non-null  object
 74  NAME_HOUSING_TYPE             61501 non-null  object
 75  OCCUPATION_TYPE               61501 non-null  object
 76  WEEKDAY_APPR_PROCESS_START    61501 non-null  object
 77  ORGANIZATION_TYPE             61501 non-null  object
 78  EMERGENCYSTATE_MODE           61501 non-null  object
 79  DAYS_EMPLOYED_ANOM            61501 non-null  bool
dtypes: bool(1), float64(28), int64(38), object(13)
memory usage: 37.6+ MB

In [138]:
print("Train missing values:")
print(X_train_filled.isna().sum().sort_values(ascending=False))
print("\nTest missing values:")
print(X_test_filled.isna().sum().sort_values(ascending=False))
print("\application_test missing values:")
print(appts_filled.isna().sum().sort_values(ascending=False))

Train missing values:
FLAG_MOBIL                      0
FLAG_EMP_PHONE                  0
DEF_60_CNT_SOCIAL_CIRCLE        0
OBS_60_CNT_SOCIAL_CIRCLE        0
DEF_30_CNT_SOCIAL_CIRCLE        0
OBS_30_CNT_SOCIAL_CIRCLE        0
TOTALAREA_MODE                  0
FLOORSMAX_MEDI                  0
YEARS_BEGINEXPLUATATION_MEDI    0
FLOORSMAX_MODE                  0
YEARS_BEGINEXPLUATATION_MODE    0
FLOORSMAX_AVG                   0
YEARS_BEGINEXPLUATATION_AVG     0
EXT_SOURCE_3                    0
EXT_SOURCE_2                    0
HOUR_APPR_PROCESS_START         0
REGION_RATING_CLIENT_W_CITY     0
REGION_RATING_CLIENT            0
CNT_FAM_MEMBERS                 0
DAYS_LAST_PHONE_CHANGE          0
AMT_REQ_CREDIT_BUREAU_HOUR      0
AMT_REQ_CREDIT_BUREAU_DAY       0
NAME_INCOME_TYPE                0
EMERGENCYSTATE_MODE             0
ORGANIZATION_TYPE               0
WEEKDAY_APPR_PROCESS_START      0
OCCUPATION_TYPE                 0
NAME_HOUSING_TYPE               0
NAME_FAMILY_STATUS              0
NAME_EDUCATION_TYPE             0
FLAG_OWN_REALTY                 0
AMT_REQ_CREDIT_BUREAU_WEEK      0
FLAG_OWN_CAR                    0
CODE_GENDER                     0
NAME_CONTRACT_TYPE              0
NAME_TYPE_SUITE                 0
AMT_REQ_CREDIT_BUREAU_YEAR      0
AMT_REQ_CREDIT_BUREAU_QRT       0
AMT_REQ_CREDIT_BUREAU_MON       0
DAYS_ID_PUBLISH                 0
DAYS_REGISTRATION               0
DAYS_EMPLOYED                   0
REG_CITY_NOT_WORK_CITY          0
FLAG_DOCUMENT_7                 0
FLAG_DOCUMENT_6                 0
FLAG_DOCUMENT_5                 0
FLAG_DOCUMENT_4                 0
FLAG_DOCUMENT_3                 0
FLAG_DOCUMENT_2                 0
LIVE_CITY_NOT_WORK_CITY         0
REG_CITY_NOT_LIVE_CITY          0
FLAG_DOCUMENT_9                 0
LIVE_REGION_NOT_WORK_REGION     0
REG_REGION_NOT_WORK_REGION      0
REG_REGION_NOT_LIVE_REGION      0
FLAG_EMAIL                      0
FLAG_PHONE                      0
FLAG_CONT_MOBILE                0
FLAG_WORK_PHONE                 0
FLAG_DOCUMENT_8                 0
FLAG_DOCUMENT_10                0
DAYS_BIRTH                      0
FLAG_DOCUMENT_20                0
REGION_POPULATION_RELATIVE      0
AMT_GOODS_PRICE                 0
AMT_ANNUITY                     0
AMT_CREDIT                      0
AMT_INCOME_TOTAL                0
CNT_CHILDREN                    0
FLAG_DOCUMENT_21                0
FLAG_DOCUMENT_19                0
FLAG_DOCUMENT_11                0
FLAG_DOCUMENT_18                0
FLAG_DOCUMENT_17                0
FLAG_DOCUMENT_16                0
FLAG_DOCUMENT_15                0
FLAG_DOCUMENT_14                0
FLAG_DOCUMENT_13                0
FLAG_DOCUMENT_12                0
DAYS_EMPLOYED_ANOM              0
dtype: int64

Test missing values:
FLAG_MOBIL                      0
FLAG_EMP_PHONE                  0
DEF_60_CNT_SOCIAL_CIRCLE        0
OBS_60_CNT_SOCIAL_CIRCLE        0
DEF_30_CNT_SOCIAL_CIRCLE        0
OBS_30_CNT_SOCIAL_CIRCLE        0
TOTALAREA_MODE                  0
FLOORSMAX_MEDI                  0
YEARS_BEGINEXPLUATATION_MEDI    0
FLOORSMAX_MODE                  0
YEARS_BEGINEXPLUATATION_MODE    0
FLOORSMAX_AVG                   0
YEARS_BEGINEXPLUATATION_AVG     0
EXT_SOURCE_3                    0
EXT_SOURCE_2                    0
HOUR_APPR_PROCESS_START         0
REGION_RATING_CLIENT_W_CITY     0
REGION_RATING_CLIENT            0
CNT_FAM_MEMBERS                 0
DAYS_LAST_PHONE_CHANGE          0
AMT_REQ_CREDIT_BUREAU_HOUR      0
AMT_REQ_CREDIT_BUREAU_DAY       0
NAME_INCOME_TYPE                0
EMERGENCYSTATE_MODE             0
ORGANIZATION_TYPE               0
WEEKDAY_APPR_PROCESS_START      0
OCCUPATION_TYPE                 0
NAME_HOUSING_TYPE               0
NAME_FAMILY_STATUS              0
NAME_EDUCATION_TYPE             0
FLAG_OWN_REALTY                 0
AMT_REQ_CREDIT_BUREAU_WEEK      0
FLAG_OWN_CAR                    0
CODE_GENDER                     0
NAME_CONTRACT_TYPE              0
NAME_TYPE_SUITE                 0
AMT_REQ_CREDIT_BUREAU_YEAR      0
AMT_REQ_CREDIT_BUREAU_QRT       0
AMT_REQ_CREDIT_BUREAU_MON       0
DAYS_ID_PUBLISH                 0
DAYS_REGISTRATION               0
DAYS_EMPLOYED                   0
REG_CITY_NOT_WORK_CITY          0
FLAG_DOCUMENT_7                 0
FLAG_DOCUMENT_6                 0
FLAG_DOCUMENT_5                 0
FLAG_DOCUMENT_4                 0
FLAG_DOCUMENT_3                 0
FLAG_DOCUMENT_2                 0
LIVE_CITY_NOT_WORK_CITY         0
REG_CITY_NOT_LIVE_CITY          0
FLAG_DOCUMENT_9                 0
LIVE_REGION_NOT_WORK_REGION     0
REG_REGION_NOT_WORK_REGION      0
REG_REGION_NOT_LIVE_REGION      0
FLAG_EMAIL                      0
FLAG_PHONE                      0
FLAG_CONT_MOBILE                0
FLAG_WORK_PHONE                 0
FLAG_DOCUMENT_8                 0
FLAG_DOCUMENT_10                0
DAYS_BIRTH                      0
FLAG_DOCUMENT_20                0
REGION_POPULATION_RELATIVE      0
AMT_GOODS_PRICE                 0
AMT_ANNUITY                     0
AMT_CREDIT                      0
AMT_INCOME_TOTAL                0
CNT_CHILDREN                    0
FLAG_DOCUMENT_21                0
FLAG_DOCUMENT_19                0
FLAG_DOCUMENT_11                0
FLAG_DOCUMENT_18                0
FLAG_DOCUMENT_17                0
FLAG_DOCUMENT_16                0
FLAG_DOCUMENT_15                0
FLAG_DOCUMENT_14                0
FLAG_DOCUMENT_13                0
FLAG_DOCUMENT_12                0
DAYS_EMPLOYED_ANOM              0
dtype: int64
pplication_test missing values:
FLAG_MOBIL                      0
FLAG_EMP_PHONE                  0
DEF_60_CNT_SOCIAL_CIRCLE        0
OBS_60_CNT_SOCIAL_CIRCLE        0
DEF_30_CNT_SOCIAL_CIRCLE        0
OBS_30_CNT_SOCIAL_CIRCLE        0
TOTALAREA_MODE                  0
FLOORSMAX_MEDI                  0
YEARS_BEGINEXPLUATATION_MEDI    0
FLOORSMAX_MODE                  0
YEARS_BEGINEXPLUATATION_MODE    0
FLOORSMAX_AVG                   0
YEARS_BEGINEXPLUATATION_AVG     0
EXT_SOURCE_3                    0
EXT_SOURCE_2                    0
HOUR_APPR_PROCESS_START         0
REGION_RATING_CLIENT_W_CITY     0
REGION_RATING_CLIENT            0
CNT_FAM_MEMBERS                 0
DAYS_LAST_PHONE_CHANGE          0
AMT_REQ_CREDIT_BUREAU_HOUR      0
AMT_REQ_CREDIT_BUREAU_DAY       0
NAME_INCOME_TYPE                0
EMERGENCYSTATE_MODE             0
ORGANIZATION_TYPE               0
WEEKDAY_APPR_PROCESS_START      0
OCCUPATION_TYPE                 0
NAME_HOUSING_TYPE               0
NAME_FAMILY_STATUS              0
NAME_EDUCATION_TYPE             0
FLAG_OWN_REALTY                 0
AMT_REQ_CREDIT_BUREAU_WEEK      0
FLAG_OWN_CAR                    0
CODE_GENDER                     0
NAME_CONTRACT_TYPE              0
NAME_TYPE_SUITE                 0
AMT_REQ_CREDIT_BUREAU_YEAR      0
AMT_REQ_CREDIT_BUREAU_QRT       0
AMT_REQ_CREDIT_BUREAU_MON       0
DAYS_ID_PUBLISH                 0
DAYS_REGISTRATION               0
DAYS_EMPLOYED                   0
REG_CITY_NOT_WORK_CITY          0
FLAG_DOCUMENT_7                 0
FLAG_DOCUMENT_6                 0
FLAG_DOCUMENT_5                 0
FLAG_DOCUMENT_4                 0
FLAG_DOCUMENT_3                 0
FLAG_DOCUMENT_2                 0
LIVE_CITY_NOT_WORK_CITY         0
REG_CITY_NOT_LIVE_CITY          0
FLAG_DOCUMENT_9                 0
LIVE_REGION_NOT_WORK_REGION     0
REG_REGION_NOT_WORK_REGION      0
REG_REGION_NOT_LIVE_REGION      0
FLAG_EMAIL                      0
FLAG_PHONE                      0
FLAG_CONT_MOBILE                0
FLAG_WORK_PHONE                 0
FLAG_DOCUMENT_8                 0
FLAG_DOCUMENT_10                0
DAYS_BIRTH                      0
FLAG_DOCUMENT_20                0
REGION_POPULATION_RELATIVE      0
AMT_GOODS_PRICE                 0
AMT_ANNUITY                     0
AMT_CREDIT                      0
AMT_INCOME_TOTAL                0
CNT_CHILDREN                    0
FLAG_DOCUMENT_21                0
FLAG_DOCUMENT_19                0
FLAG_DOCUMENT_11                0
FLAG_DOCUMENT_18                0
FLAG_DOCUMENT_17                0
FLAG_DOCUMENT_16                0
FLAG_DOCUMENT_15                0
FLAG_DOCUMENT_14                0
FLAG_DOCUMENT_13                0
FLAG_DOCUMENT_12                0
DAYS_EMPLOYED_ANOM              0
dtype: int64

### Encoding Numerical Variable

In [139]:
from sklearn.preprocessing import LabelEncoder

le_dict = {}
le_count = 0

for col in X_train_filled.select_dtypes(include='object').columns:
    if X_train_filled[col].nunique() == 2:
        le = LabelEncoder()
        le.fit(X_train_filled[col])
        
        X_train_filled[col] = le.transform(X_train_filled[col])
        X_test_filled[col] = X_test_filled[col].map(lambda x: le.transform([x])[0] if x in le.classes_ else np.nan)
        appts_filled[col] = appts[col].map(lambda x: le.transform([x])[0] if x in le.classes_ else np.nan)
        
        le_dict[col] = le
        le_count += 1

print(f"{le_count} columns were label encoded")

4 columns were label encoded

### Encoding Categorical Variable

In [140]:
# Tentukan kolom kategorikal
cat_cols = X_train_filled.select_dtypes(include='object').columns.tolist()

# Pisahkan berdasarkan jumlah kategori
low_card_cols = [col for col in cat_cols if X_train_filled[col].nunique() <= 10]
high_card_cols = [col for col in cat_cols if X_train_filled[col].nunique() > 10]

# One-Hot Encoding untuk low cardinality
X_train_low = pd.get_dummies(X_train_filled[low_card_cols], drop_first=True)
X_test_low = pd.get_dummies(X_test_filled[low_card_cols], drop_first=True)
appts_low = pd.get_dummies(appts_filled[low_card_cols], drop_first=True)

# Pastikan kolom sama di train & test (karena drop_first bisa bikin beda)
X_test_low = X_test_low.reindex(columns=X_train_low.columns, fill_value=0)
appts_low = appts_low.reindex(columns=X_train_low.columns, fill_value=0)

# Encode high-cardinality dengan reduksi top-N kategori
top_k = 15
X_train_high_encoded = []
X_test_high_encoded = []
appts_high_encoded = []

for col in high_card_cols:
    top_cats = X_train_filled[col].value_counts().nlargest(top_k).index
    
    # Replace rare dengan 'Other'
    train_reduced = X_train_filled[col].where(X_train_filled[col].isin(top_cats), 'Other')
    test_reduced = X_test_filled[col].where(X_test_filled[col].isin(top_cats), 'Other')
    appts_reduced = appts_filled[col].where(appts_filled[col].isin(top_cats), 'Other')
    
    # One-hot encode
    train_encoded = pd.get_dummies(train_reduced, prefix=col, drop_first=True)
    test_encoded = pd.get_dummies(test_reduced, prefix=col, drop_first=True)
    appts_encoded = pd.get_dummies(appts_reduced, prefix=col, drop_first=True)
    
    # Reindex test supaya sama kolomnya
    test_encoded = test_encoded.reindex(columns=train_encoded.columns, fill_value=0)
    appts_encoded = appts_encoded.reindex(columns=train_encoded.columns, fill_value=0)
    
    X_train_high_encoded.append(train_encoded)
    X_test_high_encoded.append(test_encoded)
    appts_high_encoded.append(appts_encoded)

# Gabungkan semua hasil encoding
X_train_encoded = pd.concat(
    [X_train_filled.drop(columns=cat_cols), X_train_low] + X_train_high_encoded, axis=1)

X_test_encoded = pd.concat(
    [X_test_filled.drop(columns=cat_cols), X_test_low] + X_test_high_encoded, axis=1)

appts_encoded = pd.concat(
    [appts_filled.drop(columns=cat_cols), appts_low] + appts_high_encoded, axis=1)

# Cek hasil akhir
print("Train encoded shape:", X_train_encoded.shape)
print("Test encoded shape:", X_test_encoded.shape)
print("application_test encoded shape:", appts_encoded.shape)

Train encoded shape: (246004, 134)
Test encoded shape: (61501, 134)
application_test encoded shape: (48744, 134)

In [141]:
X_train_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 246004 entries, 233057 to 20259
Columns: 134 entries, FLAG_MOBIL to ORGANIZATION_TYPE_Unknown
dtypes: bool(64), float64(28), int32(4), int64(38)
memory usage: 144.5 MB

In [142]:
print(y_train.value_counts())
print(y_test.value_counts())

TARGET
0    226144
1     19860
Name: count, dtype: int64
TARGET
0    56536
1     4965
Name: count, dtype: int64

# Feature Selection

### Check Correlation

In [143]:
flag_col = [col for col in X_train_encoded.columns if 'FLAG_DOCUMENT' in col]
corr_with_y = X_train_encoded[flag_col].corrwith(y_train)
corr_with_y.sort_values(ascending=False)

FLAG_DOCUMENT_3     0.043661
FLAG_DOCUMENT_2     0.006476
FLAG_DOCUMENT_21    0.004215
FLAG_DOCUMENT_20    0.000977
FLAG_DOCUMENT_5     0.000295
FLAG_DOCUMENT_12   -0.000597
FLAG_DOCUMENT_19   -0.000717
FLAG_DOCUMENT_10   -0.001336
FLAG_DOCUMENT_7    -0.001514
FLAG_DOCUMENT_4    -0.002535
FLAG_DOCUMENT_11   -0.002717
FLAG_DOCUMENT_17   -0.003083
FLAG_DOCUMENT_9    -0.003697
FLAG_DOCUMENT_15   -0.006177
FLAG_DOCUMENT_8    -0.008319
FLAG_DOCUMENT_18   -0.008480
FLAG_DOCUMENT_14   -0.008793
FLAG_DOCUMENT_16   -0.010758
FLAG_DOCUMENT_13   -0.011285
FLAG_DOCUMENT_6    -0.028417
dtype: float64

In [144]:
flag_to_drop = corr_with_y.sort_values(ascending=False).index[1:]
corr_with_y.sort_values(ascending=False).index[1:]

Index(['FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_21', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_19',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_4',
       'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_13',
       'FLAG_DOCUMENT_6'],
      dtype='object')

In [145]:
X_train_encoded = X_train_encoded.drop(columns=flag_to_drop)
X_test_encoded = X_test_encoded.drop(columns=flag_to_drop)
appts_encoded = appts_encoded.drop(columns=flag_to_drop)

In [146]:
# Hitung matriks korelasi
corr_matrix = X_train_encoded.corr().abs()

# Ambil segitiga atas matriks korelasi (untuk menghindari duplikat dan korelasi diri sendiri)
upper = np.triu(np.ones(corr_matrix.shape), k=1).astype(bool)
high_corr_pairs = corr_matrix.where(upper)

# Tampilkan pasangan kolom dengan korelasi > 0.85
high_corr = high_corr_pairs.stack()[high_corr_pairs.stack() > 0.85]
print(high_corr)

FLAG_EMP_PHONE                        DAYS_EMPLOYED_ANOM                                   0.999862
                                      NAME_INCOME_TYPE_Pensioner                           0.999545
                                      ORGANIZATION_TYPE_Unknown                            0.999862
REG_REGION_NOT_WORK_REGION            LIVE_REGION_NOT_WORK_REGION                          0.861056
CNT_CHILDREN                          CNT_FAM_MEMBERS                                      0.879117
AMT_CREDIT                            AMT_GOODS_PRICE                                      0.986672
REGION_RATING_CLIENT                  REGION_RATING_CLIENT_W_CITY                          0.950630
YEARS_BEGINEXPLUATATION_AVG           YEARS_BEGINEXPLUATATION_MODE                         0.971808
                                      YEARS_BEGINEXPLUATATION_MEDI                         0.993555
FLOORSMAX_AVG                         FLOORSMAX_MODE                                       0.986532
                                      FLOORSMAX_MEDI                                       0.997203
YEARS_BEGINEXPLUATATION_MODE          YEARS_BEGINEXPLUATATION_MEDI                         0.963811
FLOORSMAX_MODE                        FLOORSMAX_MEDI                                       0.988967
OBS_30_CNT_SOCIAL_CIRCLE              OBS_60_CNT_SOCIAL_CIRCLE                             0.998518
DEF_30_CNT_SOCIAL_CIRCLE              DEF_60_CNT_SOCIAL_CIRCLE                             0.860391
DAYS_EMPLOYED_ANOM                    NAME_INCOME_TYPE_Pensioner                           0.999683
                                      ORGANIZATION_TYPE_Unknown                            1.000000
NAME_INCOME_TYPE_Pensioner            ORGANIZATION_TYPE_Unknown                            0.999683
NAME_EDUCATION_TYPE_Higher education  NAME_EDUCATION_TYPE_Secondary / secondary special    0.888211
dtype: float64

In [147]:
high_corr_feat = ['FLAG_EMP_PHONE', 'DAYS_EMPLOYED_ANOM', 'NAME_INCOME_TYPE_Pensioner', 'ORGANIZATION_TYPE_Unknown',
                  'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'CNT_CHILDREN', 'CNT_FAM_MEMBERS',
                  'AMT_CREDIT', 'AMT_GOODS_PRICE', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
                  'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BEGINEXPLUATATION_MEDI', 'FLOORSMAX_AVG',
                  'FLOORSMAX_MODE', 'FLOORSMAX_MEDI', 'OBS_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
                  'DEF_30_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'NAME_EDUCATION_TYPE_Higher education',
                  'NAME_EDUCATION_TYPE_Secondary / secondary special']

high_corr_y = X_train_encoded[high_corr_feat].corrwith(y_train)
high_corr_y.sort_values(ascending=False)

REGION_RATING_CLIENT_W_CITY                          0.060405
REGION_RATING_CLIENT                                 0.057964
NAME_EDUCATION_TYPE_Secondary / secondary special    0.049616
FLAG_EMP_PHONE                                       0.046821
DEF_30_CNT_SOCIAL_CIRCLE                             0.032636
DEF_60_CNT_SOCIAL_CIRCLE                             0.031422
CNT_CHILDREN                                         0.019697
OBS_30_CNT_SOCIAL_CIRCLE                             0.009763
OBS_60_CNT_SOCIAL_CIRCLE                             0.009652
CNT_FAM_MEMBERS                                      0.009467
REG_REGION_NOT_WORK_REGION                           0.008444
LIVE_REGION_NOT_WORK_REGION                          0.003552
YEARS_BEGINEXPLUATATION_MODE                        -0.003639
YEARS_BEGINEXPLUATATION_AVG                         -0.004517
YEARS_BEGINEXPLUATATION_MEDI                        -0.004649
AMT_CREDIT                                          -0.030762
FLOORSMAX_MODE                                      -0.038542
FLOORSMAX_MEDI                                      -0.039415
FLOORSMAX_AVG                                       -0.039659
AMT_GOODS_PRICE                                     -0.040038
DAYS_EMPLOYED_ANOM                                  -0.046832
ORGANIZATION_TYPE_Unknown                           -0.046832
NAME_INCOME_TYPE_Pensioner                          -0.047035
NAME_EDUCATION_TYPE_Higher education                -0.056555
dtype: float64

In [148]:
X_train_encoded = X_train_encoded.drop(columns=['FLAG_EMP_PHONE', 'AMT_GOODS_PRICE', 'FLOORSMAX_MODE', 'FLOORSMAX_MEDI',
                                                'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BEGINEXPLUATATION_AVG', 'REGION_RATING_CLIENT',
                                                'ORGANIZATION_TYPE_Unknown', 'DAYS_EMPLOYED_ANOM', 'NAME_EDUCATION_TYPE_Secondary / secondary special',
                                                'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'CNT_FAM_MEMBERS', 'LIVE_REGION_NOT_WORK_REGION'])


X_test_encoded = X_test_encoded.drop(columns=['FLAG_EMP_PHONE', 'AMT_GOODS_PRICE', 'FLOORSMAX_MODE', 'FLOORSMAX_MEDI',
                                                'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BEGINEXPLUATATION_AVG', 'REGION_RATING_CLIENT',
                                                'ORGANIZATION_TYPE_Unknown', 'DAYS_EMPLOYED_ANOM', 'NAME_EDUCATION_TYPE_Secondary / secondary special',
                                                'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'CNT_FAM_MEMBERS', 'LIVE_REGION_NOT_WORK_REGION'])


appts_encoded = appts_encoded.drop(columns=['FLAG_EMP_PHONE', 'AMT_GOODS_PRICE', 'FLOORSMAX_MODE', 'FLOORSMAX_MEDI',
                                                'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BEGINEXPLUATATION_AVG', 'REGION_RATING_CLIENT',
                                                'ORGANIZATION_TYPE_Unknown', 'DAYS_EMPLOYED_ANOM', 'NAME_EDUCATION_TYPE_Secondary / secondary special',
                                                'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'CNT_FAM_MEMBERS', 'LIVE_REGION_NOT_WORK_REGION'])

In [149]:
print("Train encoded shape:", X_train_encoded.shape)
print("test encoded shape:", X_test_encoded.shape)
print("application_test encoded shape:", appts_encoded.shape)

Train encoded shape: (246004, 101)
test encoded shape: (61501, 101)
application_test encoded shape: (48744, 101)

### SelectKBest Method

#### Using chi2
Scale the numeric variable first using MinMaxScaler

In [150]:
from sklearn.preprocessing import MinMaxScaler

col_name = X_train_encoded.columns

mms = MinMaxScaler()
X_train_scaled = mms.fit_transform(X_train_encoded)
X_test_scaled = mms.transform(X_test_encoded)
final_appts = mms.transform(appts_encoded)

In [151]:
from sklearn.feature_selection import SelectKBest, chi2

bestfeatures = SelectKBest(score_func=chi2, k=30)
fit_chi2 = bestfeatures.fit(X_train_scaled, y_train)

dfscores = pd.DataFrame(fit_chi2.scores_)
dfcolumns = pd.DataFrame(col_name)
featureScores = pd.concat([dfcolumns, dfscores], axis = 1)
featureScores.columns = ['Features', 'Score']

pd.set_option('display.max_rows', None)
print('The features that correlate well with target feature:\n')
featureScores.sort_values(by=['Score'], ascending=False)

The features that correlate well with target feature:

                                     Features         Score
53       NAME_EDUCATION_TYPE_Higher education  5.952937e+02
22                               EXT_SOURCE_2  5.309261e+02
8                      REG_CITY_NOT_WORK_CITY  5.235324e+02
37                                CODE_GENDER  4.969116e+02
7                      REG_CITY_NOT_LIVE_CITY  4.628023e+02
48                 NAME_INCOME_TYPE_Pensioner  4.463666e+02
52                   NAME_INCOME_TYPE_Working  3.979226e+02
78                   OCCUPATION_TYPE_Laborers  3.945465e+02
23                               EXT_SOURCE_3  3.938989e+02
86                    OCCUPATION_TYPE_Unknown  2.589048e+02
71                EMERGENCYSTATE_MODE_Unknown  2.400560e+02
9                     LIVE_CITY_NOT_WORK_CITY  2.283350e+02
64             NAME_HOUSING_TYPE_With parents  2.099802e+02
36                         NAME_CONTRACT_TYPE  2.023532e+02
16                                 DAYS_BIRTH  1.960414e+02
76                    OCCUPATION_TYPE_Drivers  1.874302e+02
79         OCCUPATION_TYPE_Low-skill Laborers  1.709546e+02
58    NAME_FAMILY_STATUS_Single / not married  1.698287e+02
1                             FLAG_WORK_PHONE  1.689674e+02
97            ORGANIZATION_TYPE_Self-employed  1.673161e+02
10                            FLAG_DOCUMENT_3  1.359787e+02
29                     DAYS_LAST_PHONE_CHANGE  1.260621e+02
89   ORGANIZATION_TYPE_Business Entity Type 3  1.166896e+02
49             NAME_INCOME_TYPE_State servant  1.159575e+02
17                              DAYS_EMPLOYED  1.098886e+02
20                REGION_RATING_CLIENT_W_CITY  1.098376e+02
59                   NAME_FAMILY_STATUS_Widow  1.033726e+02
3                                  FLAG_PHONE  1.008935e+02
84                OCCUPATION_TYPE_Sales staff  9.467686e+01
75                 OCCUPATION_TYPE_Core staff  9.020331e+01
90             ORGANIZATION_TYPE_Construction  8.727489e+01
80                   OCCUPATION_TYPE_Managers  8.442238e+01
63         NAME_HOUSING_TYPE_Rented apartment  7.706780e+01
38                               FLAG_OWN_CAR  7.537224e+01
19                            DAYS_ID_PUBLISH  6.948992e+01
56                 NAME_FAMILY_STATUS_Married  5.570038e+01
96                   ORGANIZATION_TYPE_School  4.980006e+01
85             OCCUPATION_TYPE_Security staff  4.613741e+01
18                          DAYS_REGISTRATION  4.279047e+01
77      OCCUPATION_TYPE_High skill tech staff  4.268761e+01
55        NAME_EDUCATION_TYPE_Lower secondary  4.267937e+01
74              OCCUPATION_TYPE_Cooking staff  4.170000e+01
15                 REGION_POPULATION_RELATIVE  4.101726e+01
46      NAME_INCOME_TYPE_Commercial associate  2.811242e+01
98            ORGANIZATION_TYPE_Trade: type 3  2.319008e+01
60        NAME_HOUSING_TYPE_House / apartment  2.318992e+01
94                 ORGANIZATION_TYPE_Medicine  2.258520e+01
24                              FLOORSMAX_AVG  2.243822e+01
81             OCCUPATION_TYPE_Medicine staff  1.974875e+01
26                             TOTALAREA_MODE  1.743420e+01
13                                 AMT_CREDIT  1.698447e+01
51                NAME_INCOME_TYPE_Unemployed  1.697382e+01
6                  REG_REGION_NOT_WORK_REGION  1.665484e+01
87       OCCUPATION_TYPE_Waiters/barmen staff  1.601894e+01
91               ORGANIZATION_TYPE_Government  1.541818e+01
73             OCCUPATION_TYPE_Cleaning staff  1.086623e+01
28                   DEF_30_CNT_SOCIAL_CIRCLE  1.081116e+01
100       ORGANIZATION_TYPE_Transport: type 4  1.067311e+01
99            ORGANIZATION_TYPE_Trade: type 7  9.650950e+00
5                  REG_REGION_NOT_LIVE_REGION  9.504448e+00
47           NAME_INCOME_TYPE_Maternity leave  9.474729e+00
40                     NAME_TYPE_SUITE_Family  9.174559e+00
72                    EMERGENCYSTATE_MODE_Yes  7.579778e+00
33                  AMT_REQ_CREDIT_BUREAU_MON  7.344116e+00
83      OCCUPATION_TYPE_Private service staff  6.958296e+00
92         ORGANIZATION_TYPE_Industry: type 9  6.946304e+00
61      NAME_HOUSING_TYPE_Municipal apartment  6.507016e+00
11                               CNT_CHILDREN  6.274074e+00
65          WEEKDAY_APPR_PROCESS_START_MONDAY  5.979225e+00
21                    HOUR_APPR_PROCESS_START  5.655213e+00
69         WEEKDAY_APPR_PROCESS_START_TUESDAY  5.510314e+00
93             ORGANIZATION_TYPE_Kindergarten  5.151411e+00
88   ORGANIZATION_TYPE_Business Entity Type 2  4.573865e+00
62         NAME_HOUSING_TYPE_Office apartment  4.242422e+00
82                      OCCUPATION_TYPE_Other  4.218512e+00
43                    NAME_TYPE_SUITE_Other_B  4.164530e+00
35                 AMT_REQ_CREDIT_BUREAU_YEAR  2.805018e+00
39                            FLAG_OWN_REALTY  2.786780e+00
66        WEEKDAY_APPR_PROCESS_START_SATURDAY  1.935625e+00
45              NAME_TYPE_SUITE_Unaccompanied  1.775473e+00
50                   NAME_INCOME_TYPE_Student  1.405122e+00
14                                AMT_ANNUITY  1.379866e+00
95                    ORGANIZATION_TYPE_Other  1.314445e+00
54      NAME_EDUCATION_TYPE_Incomplete higher  1.159531e+00
67          WEEKDAY_APPR_PROCESS_START_SUNDAY  5.587486e-01
4                                  FLAG_EMAIL  4.158775e-01
44            NAME_TYPE_SUITE_Spouse, partner  3.736945e-01
70       WEEKDAY_APPR_PROCESS_START_WEDNESDAY  3.041391e-01
27                   OBS_30_CNT_SOCIAL_CIRCLE  2.784516e-01
32                 AMT_REQ_CREDIT_BUREAU_WEEK  2.627264e-01
31                  AMT_REQ_CREDIT_BUREAU_DAY  1.779610e-01
57               NAME_FAMILY_STATUS_Separated  1.119824e-01
34                  AMT_REQ_CREDIT_BUREAU_QRT  7.667310e-02
41            NAME_TYPE_SUITE_Group of people  5.957856e-02
42                    NAME_TYPE_SUITE_Other_A  5.792135e-02
68        WEEKDAY_APPR_PROCESS_START_THURSDAY  5.386014e-02
25               YEARS_BEGINEXPLUATATION_MEDI  1.016301e-02
30                 AMT_REQ_CREDIT_BUREAU_HOUR  8.693050e-03
12                           AMT_INCOME_TOTAL  6.011886e-03
2                            FLAG_CONT_MOBILE  1.341034e-03
0                                  FLAG_MOBIL  3.569881e-07

In [152]:
X_train_selected_chi2 = fit_chi2.transform(X_train_scaled)
X_test_selected_chi2 = fit_chi2.transform(X_test_scaled)
appts_selected_chi2 = fit_chi2.transform(final_appts)

columns_chi2 = X_train_encoded.columns[fit_chi2.get_support()]

X_train_chi2 = pd.DataFrame(X_train_selected_chi2, columns=columns_chi2)
X_test_chi2 = pd.DataFrame(X_test_selected_chi2, columns=columns_chi2)
final_appts_chi2 = pd.DataFrame(appts_selected_chi2, columns=columns_chi2)

#### Using Mutual Info

In [153]:
from sklearn.feature_selection import mutual_info_classif

bestfeatures_mi = SelectKBest(score_func=mutual_info_classif, k=30)
fit_mi = bestfeatures_mi.fit(X_train_encoded, y_train)

dfscores = pd.DataFrame(fit_mi.scores_)
dfcolumns = pd.DataFrame(col_name)
featureScores = pd.concat([dfcolumns, dfscores], axis = 1)
featureScores.columns = ['Features', 'Score']

pd.set_option('display.max_rows', None)
print('The features that correlate well with target feature:\n')
featureScores.sort_values(by=['Score'], ascending=False)

The features that correlate well with target feature:

                                     Features     Score
2                            FLAG_CONT_MOBILE  0.047902
39                            FLAG_OWN_REALTY  0.045118
10                            FLAG_DOCUMENT_3  0.044708
45              NAME_TYPE_SUITE_Unaccompanied  0.043716
56                 NAME_FAMILY_STATUS_Married  0.043499
60        NAME_HOUSING_TYPE_House / apartment  0.040176
52                   NAME_INCOME_TYPE_Working  0.037509
0                                  FLAG_MOBIL  0.034378
71                EMERGENCYSTATE_MODE_Unknown  0.031026
20                REGION_RATING_CLIENT_W_CITY  0.021754
24                              FLOORSMAX_AVG  0.019668
37                                CODE_GENDER  0.017040
23                               EXT_SOURCE_3  0.014643
38                               FLAG_OWN_CAR  0.014521
86                    OCCUPATION_TYPE_Unknown  0.014062
25               YEARS_BEGINEXPLUATATION_MEDI  0.013157
22                               EXT_SOURCE_2  0.012709
14                                AMT_ANNUITY  0.011923
3                                  FLAG_PHONE  0.011581
53       NAME_EDUCATION_TYPE_Higher education  0.010262
26                             TOTALAREA_MODE  0.009062
35                 AMT_REQ_CREDIT_BUREAU_YEAR  0.008005
13                                 AMT_CREDIT  0.007536
8                      REG_CITY_NOT_WORK_CITY  0.007326
46      NAME_INCOME_TYPE_Commercial associate  0.007219
95                    ORGANIZATION_TYPE_Other  0.006426
17                              DAYS_EMPLOYED  0.005947
89   ORGANIZATION_TYPE_Business Entity Type 3  0.005708
1                             FLAG_WORK_PHONE  0.005553
48                 NAME_INCOME_TYPE_Pensioner  0.005426
11                               CNT_CHILDREN  0.005049
78                   OCCUPATION_TYPE_Laborers  0.004935
65          WEEKDAY_APPR_PROCESS_START_MONDAY  0.004837
68        WEEKDAY_APPR_PROCESS_START_THURSDAY  0.004650
9                     LIVE_CITY_NOT_WORK_CITY  0.004563
15                 REGION_POPULATION_RELATIVE  0.004280
69         WEEKDAY_APPR_PROCESS_START_TUESDAY  0.004228
70       WEEKDAY_APPR_PROCESS_START_WEDNESDAY  0.004144
21                    HOUR_APPR_PROCESS_START  0.004085
16                                 DAYS_BIRTH  0.004047
12                           AMT_INCOME_TOTAL  0.003317
58    NAME_FAMILY_STATUS_Single / not married  0.002840
40                     NAME_TYPE_SUITE_Family  0.002693
36                         NAME_CONTRACT_TYPE  0.002682
29                     DAYS_LAST_PHONE_CHANGE  0.002297
97            ORGANIZATION_TYPE_Self-employed  0.002096
7                      REG_CITY_NOT_LIVE_CITY  0.001950
27                   OBS_30_CNT_SOCIAL_CIRCLE  0.001823
76                    OCCUPATION_TYPE_Drivers  0.001797
34                  AMT_REQ_CREDIT_BUREAU_QRT  0.001739
28                   DEF_30_CNT_SOCIAL_CIRCLE  0.001702
44            NAME_TYPE_SUITE_Spouse, partner  0.001564
57               NAME_FAMILY_STATUS_Separated  0.001512
19                            DAYS_ID_PUBLISH  0.001479
4                                  FLAG_EMAIL  0.001399
47           NAME_INCOME_TYPE_Maternity leave  0.001394
64             NAME_HOUSING_TYPE_With parents  0.001159
49             NAME_INCOME_TYPE_State servant  0.001144
84                OCCUPATION_TYPE_Sales staff  0.001135
59                   NAME_FAMILY_STATUS_Widow  0.000991
18                          DAYS_REGISTRATION  0.000972
63         NAME_HOUSING_TYPE_Rented apartment  0.000971
51                NAME_INCOME_TYPE_Unemployed  0.000928
75                 OCCUPATION_TYPE_Core staff  0.000883
67          WEEKDAY_APPR_PROCESS_START_SUNDAY  0.000802
61      NAME_HOUSING_TYPE_Municipal apartment  0.000778
66        WEEKDAY_APPR_PROCESS_START_SATURDAY  0.000740
96                   ORGANIZATION_TYPE_School  0.000728
30                 AMT_REQ_CREDIT_BUREAU_HOUR  0.000708
94                 ORGANIZATION_TYPE_Medicine  0.000613
54      NAME_EDUCATION_TYPE_Incomplete higher  0.000593
55        NAME_EDUCATION_TYPE_Lower secondary  0.000575
31                  AMT_REQ_CREDIT_BUREAU_DAY  0.000563
6                  REG_REGION_NOT_WORK_REGION  0.000556
82                      OCCUPATION_TYPE_Other  0.000513
81             OCCUPATION_TYPE_Medicine staff  0.000474
100       ORGANIZATION_TYPE_Transport: type 4  0.000469
92         ORGANIZATION_TYPE_Industry: type 9  0.000446
85             OCCUPATION_TYPE_Security staff  0.000445
33                  AMT_REQ_CREDIT_BUREAU_MON  0.000414
99            ORGANIZATION_TYPE_Trade: type 7  0.000370
79         OCCUPATION_TYPE_Low-skill Laborers  0.000301
74              OCCUPATION_TYPE_Cooking staff  0.000228
42                    NAME_TYPE_SUITE_Other_A  0.000205
50                   NAME_INCOME_TYPE_Student  0.000179
83      OCCUPATION_TYPE_Private service staff  0.000174
32                 AMT_REQ_CREDIT_BUREAU_WEEK  0.000132
87       OCCUPATION_TYPE_Waiters/barmen staff  0.000105
41            NAME_TYPE_SUITE_Group of people  0.000057
72                    EMERGENCYSTATE_MODE_Yes  0.000044
80                   OCCUPATION_TYPE_Managers  0.000010
62         NAME_HOUSING_TYPE_Office apartment  0.000000
43                    NAME_TYPE_SUITE_Other_B  0.000000
88   ORGANIZATION_TYPE_Business Entity Type 2  0.000000
90             ORGANIZATION_TYPE_Construction  0.000000
91               ORGANIZATION_TYPE_Government  0.000000
93             ORGANIZATION_TYPE_Kindergarten  0.000000
73             OCCUPATION_TYPE_Cleaning staff  0.000000
5                  REG_REGION_NOT_LIVE_REGION  0.000000
98            ORGANIZATION_TYPE_Trade: type 3  0.000000
77      OCCUPATION_TYPE_High skill tech staff  0.000000

In [154]:
X_train_selected_mi = fit_mi.transform(X_train_encoded)
X_test_selected_mi = fit_mi.transform(X_test_encoded)
appts_selected_mi = fit_mi.transform(final_appts)

columns_mi = X_train_encoded.columns[fit_mi.get_support()]

X_train_mi = pd.DataFrame(X_train_selected_mi, columns=columns_mi)
X_test_mi = pd.DataFrame(X_test_selected_mi, columns=columns_mi)
final_appts_mi = pd.DataFrame(appts_selected_mi, columns=columns_mi)

In [159]:
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=31)
X_train_upsampled_chi2, y_train_upsampled_chi2 = ros.fit_resample(X_train_chi2, y_train)
X_train_upsampled_mi, y_train_upsampled_mi = ros.fit_resample(X_train_mi, y_train)


print('Training Data shape (chi2): ', X_train_upsampled_chi2.shape)
print('Testing Data shape (chi2): ', X_test_chi2.shape)

print('Training Data shape (mi): ', X_train_upsampled_mi.shape)
print('Testing Data shape (mi): ', X_test_mi.shape)

Training Data shape (chi2):  (452288, 30)
Testing Data shape (chi2):  (61501, 30)
Training Data shape (mi):  (452288, 30)
Testing Data shape (mi):  (61501, 30)